.custom-table tbody tr:nth-child(odd) {
  background-color: #191c24 !important;
  color: #fff;
}

.custom-table thead tr th {
  text-align: center;
}

.custom-table td,
.custom-table th {
  vertical-align: middle;
}

.custom-table thead {
  background-color: #343a40;
  color: #fff;
}
